{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">ShopKaro</h1>
      <p>ShopKaro Pvt Ltd. is an Indian electronic commerce company based in Bengaluru, India. Founded by Shreya Gupta in 2021, the company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, and lifestyle products.

The service competes primarily with Amazon' s Indian subsidiary</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Our Partners</h2>
        <p> Shreyashvi Enterprises</p>
        <p><a class="btn btn-secondary" href="/shop" role="button">View details »</a></p>
      </div>

    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
